# SVAR - build-and-test.yaml
# SPDX-FileCopyrightText: 2021-2025 Arkadiusz Bokowy and contributors
# SPDX-License-Identifier: MIT

name: Build and Test

on:
  push:
  pull_request:
    branches: [ master ]

jobs:

  check:
    strategy:
      matrix:
        build-type: [ Debug, Release ]
        audio-backend:
          - -DENABLE_PIPEWIRE=OFF -DENABLE_PORTAUDIO=OFF
          - -DENABLE_PIPEWIRE=ON  -DENABLE_PORTAUDIO=OFF
          - -DENABLE_PIPEWIRE=OFF -DENABLE_PORTAUDIO=ON
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install --yes --quiet --no-install-recommends \
          check \
          libasound2-dev \
          libmp3lame-dev \
          libogg-dev \
          libpipewire-0.3-dev \
          libsndfile1-dev \
          libvorbis-dev \
          portaudio19-dev
    - uses: actions/checkout@v5
    - name: Create Build Environment
      run: cmake -E make_directory ${{ github.workspace }}/build
    - name: Configure CMake
      working-directory: ${{ github.workspace }}/build
      # Note the current convention is to use the -S and -B options here to
      # specify source and build directories, but this is only available with
      # CMake 3.13 and higher. The CMake binaries on the Github Actions
      # machines are (as of this writing) 3.12
      run: >
        cmake $GITHUB_WORKSPACE
        -DCMAKE_BUILD_TYPE=${{ matrix.build-type }}
        -DBUILD_TESTING=ON
        ${{ matrix.audio-backend }}
        -DENABLE_MP3LAME=ON
        -DENABLE_SNDFILE=ON
        -DENABLE_VORBIS=ON
    - name: Build
      working-directory: ${{ github.workspace }}/build
      run: cmake --build . --config ${{ matrix.build-type }}
    - name: Test
      working-directory: ${{ github.workspace }}/build
      run: ctest -C ${{ matrix.build-type }}
