# SVAR - code-scanning.yaml
# SPDX-FileCopyrightText: 2021-2025 Arkadiusz Bokowy and contributors
# SPDX-License-Identifier: MIT

name: Code Scanning

on:
  push:
  pull_request:
    branches: [ master ]

permissions:
  actions: read
  contents: read
  security-events: write

jobs:

  code-ql:
    strategy:
      matrix:
        build-type: [ Release ]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install --yes --quiet --no-install-recommends \
          libasound2-dev \
          libmp3lame-dev \
          libogg-dev \
          libsndfile1-dev \
          libvorbis-dev \
          portaudio19-dev
    - uses: actions/checkout@v5
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: cpp
        queries: security-and-quality
    - name: Create Build Environment
      run: cmake -E make_directory ${{ github.workspace }}/build
    - name: Configure CMake
      working-directory: ${{ github.workspace }}/build
      # Note the current convention is to use the -S and -B options here to
      # specify source and build directories, but this is only available with
      # CMake 3.13 and higher. The CMake binaries on the Github Actions
      # machines are (as of this writing) 3.12
      run: >
        cmake $GITHUB_WORKSPACE
        -DCMAKE_BUILD_TYPE=${{ matrix.build-type }}
        -DENABLE_PORTAUDIO=ON
        -DENABLE_MP3LAME=ON
        -DENABLE_SNDFILE=ON
        -DENABLE_VORBIS=ON
    - name: Build
      working-directory: ${{ github.workspace }}/build
      run: cmake --build . --config ${{ matrix.build-type }}
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3
