# SVAR - code-scanning.yaml
# SPDX-FileCopyrightText: 2021-2025 Arkadiusz Bokowy and contributors
# SPDX-License-Identifier: MIT

name: Code Scanning

on:
  push:
  pull_request:
    branches: [ master ]

permissions:
  actions: read
  contents: read
  security-events: write

jobs:

  code-ql:
    strategy:
      matrix:
        build-type: [ Release ]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install --yes --quiet --no-install-recommends \
          libasound2-dev \
          libmp3lame-dev \
          libogg-dev \
          libpipewire-0.3-dev \
          libsndfile1-dev \
          libopusenc-dev \
          libvorbis-dev \
          portaudio19-dev
    - uses: actions/checkout@v6
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v4
      with:
        languages: cpp
        queries: security-and-quality
    - name: Configure
      run: >
        cmake
        -B ${{ github.workspace }}/build
        -DCMAKE_BUILD_TYPE=${{ matrix.build-type }}
        -DENABLE_ALSA=ON
        -DENABLE_PIPEWIRE=ON
        -DENABLE_PORTAUDIO=ON
        -DENABLE_MP3LAME=ON
        -DENABLE_SNDFILE=ON
        -DENABLE_OPUS=ON
        -DENABLE_VORBIS=ON
    - name: Build
      working-directory: ${{ github.workspace }}/build
      run: cmake --build . --config ${{ matrix.build-type }}
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v4

  reuse:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v6
